.logo {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.currency-boxes {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.app-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.currency-box {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
}

.search-box {
  input {
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    width: 250px;

    &::placeholder {
      color: #a0a0a0;
    }
  }

  i {
    color: #a0a0a0;
  }
}
